:root {
  /* Primary Colours */
  --YellowPrimary: #ffc700;
  --OrangePrimary: #eb7724;
  --PrimaryGradient: linear-gradient(
    92.51deg,
    var(--OrangePrimary) 0.48%,
    var(--YellowPrimary) 100%
  );

  /* Background Colours */
  --BackgroundPrimary: #131415;
  --BackgroundSecondary: #222228;
  --BackgroundDark: #313139;
  --BackgroundLight: #4a4a54;

  /* Secondary Colours */
  --WhiteSecondary: #9e9e9e;

  /* Skill Card Colours */
  --SkillBackground: #18181c;
}

.btn-square-md {
  width: 60px !important;
  height: 60px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}

.btn-square-lg {
  width: 100px !important;
  height: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}
